<div class="top-bar">
    <div class="site-graphics">
        <span><%= site.name %></span>
    </div>
    <div class="right-stack">
        <% if(currentUser === null) { %>
            <a href="/users/signup" class="nav-button signup">Sign Up</a>
            <a href="/users/signin" class="nav-button signin">Sign In</a>
        <% } else  { %>
            <a href="/users/<%= currentUser.id %>" class="user-badge">
                <img src="<%= currentUser.profile_image %>">
                <span class="username"><%= currentUser.username %></span>
            </a>
        <% } %>
        <div id="topbarHamburger" class="topbar-hamburger fa fa-bars"></div>
    </div>

    <div id="topbarExpand">
        <nav class="nav-list">
            <span>Current Community</span>
            <a class="nav-list-item">Questions</a>
            <a class="nav-list-item">Meta</a>
            <% if(currentUser !== null) { %>
            <a href="/users/logout" class="nav-button">Logout</a>
            <% } %>
        </nav>
    </div>
</div>
