.question-tags {
    overflow: hidden;
    padding: 5px 5px 5px 0;
}

.question-tag {
    display: inline-block;
    padding: 5px;
    font-size: 13px;
    background-color: #333652;
    white-space: nowrap;
    color: #4eb8ff;
    margin-right: 5px;
    user-select: none;
    -webkit-user-select: none;
    margin-bottom: 10px;
}

.question-tag:hover {
    color: #4b93d7;
}
