.main-content {
    padding: 40px;
}
.question-wrapper {
    margin: 30px auto 10px;
    width: 90%;
    max-width: 1200px;
}
.question {
    border-bottom: 2px solid gray;
    background: #2c2a35;
    padding: 25px;
    border-radius: 0.25rem 0.25rem 0 0;
    margin: 30px auto 0;
}

.question--title {
    margin: 5px 0;
}

.question--body {
    overflow: auto;
}

.question--date, .answer--date {
    display: block;
    font-size: 14px;
    color: #ababab;
    padding-bottom: 5px;
}

.question--date {
    border-bottom: 1px solid gray;
}

.post--operations a {
    color: #b3b3b3;
    font-size: 13px;
    font-weight: 700;
}

.post--operations a:hover {
    color: #bfbfbf;
    font-size: 13px;
}

.answer-amount {
    display: block;
    width: 90%;
    margin: 20px auto 0;
    border-bottom: 1px solid #b0b0b0;
    max-width: 1200px;

}

.add-answer-input {
    font-size: 15px;
    width: 100%;
    outline: none;
    background: #fcfcfc;
    border: solid 1px rgba(221, 221, 221, 0.98);
    box-sizing: border-box;
    border-radius: 0.25rem;
    height: 200px;
    padding: 10px 5px 5px;
}

.answers-wrapper {
    margin: 30px auto 10px;
    width: 90%;
    max-width: 1200px;
}

.answer {
    border-bottom: 1px solid #b0b0b0;
    background: #2c2a35;
    padding: 0;
    border-radius: 0.25rem 0.25rem 0 0;
    margin: 30px auto 0;
}

.answer:last-child {
    border: none;
}

.answer--meta {
    padding: 20px;
}

.author {
    color: #ababab;
    font-size: 12px;
}

.answer--split {
    display: flex;
    margin-bottom: 30px;
    padding: 20px 0;
}

.answer--voting {
    flex-basis: 61px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.answer--voting .score {
    text-align: center;
    font-size: 22px;
    user-select: none;
    -webkit-user-select: none;
}

.answer--voting svg {
    height: 20px;
    margin: 5px;
    color: #0b5e99;
}

.answer--voting .solution_mark {
    text-align: center;
    font-size: 38px;
    color: #acacac;
}
.answer--voting .solution_mark:hover {
    color: #349434;
}
.answer--voting .solution_mark.is_solution {
    color: #51e851;
}

.answers--body {
    flex: 1;
    overflow: auto;
}

.score.positive {
    color: #6fee68;
}

.score.negative {
    color: #ff5f62;
}

.answer--voting .arrow polygon {
    fill: #999;
}


.answer--voting .arrow polygon:hover {
    fill: #636363;
}

.answer--voting .arrow.selected polygon {
    fill: #ecbb32;
}

.clickable {
    cursor: pointer;
}


.comments-wrapper {
    background: #2c2a35;
    padding: 20px;
    width: calc(100% - 20px);
    margin-left: 20px;
    font-size: 15px;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.comments-container summary {
    user-select: none;
    -webkit-user-select: none;
}
.comments-container {
    margin-top: 5px;
}
