body {
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
    font-family: 'Noto Sans', sans-serif;
    padding-top: 100px; /* 60px */
    background: #16151b;
    color: #e2e2e2;
}

@media screen  and  (max-width: 500px){
    body {
        padding-top: 130px; /* 90px */
    }
}

a {
    color: #37c9ff;
    text-decoration: none;
}

a:hover {
    color: #35a2d6;
}

.main-content {
    width: 90%;
    border-radius: 0.25rem;
    padding: 5px;
    max-width: 1200px;
    margin: 30px auto 20px;
}

.main-content, .content-background {
    background: #2c2a35;
}

input, textarea {
    outline: unset;
    border: unset;
}

h1 {
    line-height: 40px;
}

.error {
    display: block;
    color: #ff7c69;
}
