.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: orange 3px solid;
    border-bottom: #111111 1px solid;
    overflow: visible;
    background: #2c2a35;
}

.site-graphics {
    padding: 5px 10px;
}

.right-stack {
    margin: 5px;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.nav-button, .btn {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 0.05rem;
    color: white;
    background: #0d78c3;
    font-size: 15px;
    border: none;
}

.nav-button:hover, .btn:hover {
    color: #d2d2d2;
    background: #094c7a;
}

.nav-button {
    color: white;
    background: #ed9900;
    margin: 5px;
}

.nav-button:hover {
    color: #d2d2d2;
    background: #975e00;
}

.user-badge {
    height: 100%;
    display: inline-block;
    padding: 10px;
}

.user-badge img {
    width: 35px;
    height: 35px;
}

.user-badge .username {
    font-size: 15px;
    margin: 7px;
}
.user-badge:hover {
    text-decoration: none;
}

.user-badge:hover {
    background: #29282e;
}

.topbar-hamburger {
    font-size: 22px;
    padding: 10px;
    position: relative;
    overflow: visible;
}

#topbarExpand {
    display: none;
    position: absolute;
    top: 56px; /* this isn't magic! | 60px (height of the top bar) - 3px (height of the top border) - 1px (height of the bottom border) */
    right: 0;
    background: #1c1b21;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}
#topbarExpand.active {
    display: block;
}

.nav-list {
    display: flex;
    flex-direction: column;
    border: 1px solid #7c7c7c;
    padding: 5px;
}
.nav-list-item {
    display: block;
    width: 100%;
    padding: 3px;
    border-bottom: 1px solid #d9d9d9;
}
.nav-list-item:hover {
    text-decoration: none;
    background: #2c2a35;
}

/*
.nav-list {
position: absolute;
background:white;
top: 50px;
margin: 0;
padding: 5px;
display: flex;
flex-direction: column;
max-height: 100vh;
width: 100%;
}



 */
