body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-top: 60px;
    background: #16151b;
    color: #e2e2e2;
}

a {
    color: #37c9ff;
    text-decoration: none;
}
a:hover {
    color: #35a2d6;
}
