.title {
    border-bottom: #a0a0a0 1px solid;
    font-size: 30px;
    margin: 20px 0 0;
}

.content {
    padding: 20px;
    background: #2c2a35;
    width: 90%;
    margin: 20px auto;
    border-radius: 0.25rem;
}
.question-list {
}
