<div class="comment">
    <span class="comment--content"><%- comment.renderedContent %></span> — <a class="comment--creator" href="/users/<%= comment.creator.id %>"><%= comment.creator.username %></a> at <a><%= comment.created.toISOString() %></a>
</div>
