.form {
    width: 400px;
}
.checkbox {
    width: 27px;
}
.checkbox-flex {
    display: flex;
}
.email-opt {
    font-size: 12px;
    padding: 10px;
}
.reset_link {
    display: block;
    margin-top: 5px;
    font-size: 11px;
}
