.form {
    max-width: 400px;
}
.checkbox {
    width: 50px;
}
.checkbox-flex {
    display: flex;
    align-items: center;
}
.email-opt {
    font-size: 12px;
    padding: 10px;
}
.reset_link {
    display: block;
    margin-top: 5px;
    font-size: 11px;
}
