<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('components/common/standard-head') %>
    <title>Error 404</title>
    <style>
        div {
            text-align: center;
            margin: 0 auto;
        }
        h1 {
            font-size: 80px;
        }
    </style>
</head>
<body>
<%- include('components/common/topbar' ) %>
<div>
    <h1>404</h1>
    <p>Uh oh, potato.</p>
</div>
</body>
</html>
