<VirtualHost *:80>
    ServerName socraticanswers.com
    ServerAlias *.socraticanswers.com

    RewriteEngine On
    RewriteCond %{HTTP_HOST} ^(.+)\.socraticanswers\.com$
    RewriteRule ^(.*)$ https://%1.socraticanswers.com$1 [R=302,L]
    RewriteCond %{HTTP_HOST} socraticanswers\.com$
    RewriteRule ^(.*)$ https://socraticanswers.com$1 [R=302,L]

</VirtualHost>

<VirtualHost *:443>
   ServerName socraticanswers.com
   ServerAlias *.socraticanswers.com

   ProxyPreserveHost On

   ProxyPass / http://localhost:7676/

   SSLEngine On
   SSLCertificateFile "/private/etc/letsencrypt/live/socraticanswers.com/cert.pem"
   SSLCertificateKeyFile "/private/etc/letsencrypt/live/socraticanswers.com/privkey.pem"
   SSLCertificateChainFile "/private/etc/letsencrypt/live/socraticanswers.com/fullchain.pem"
</VirtualHost>
