<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('../components/common/standard-head') %>
    <link rel="stylesheet" href="/css/home/home.css">
    <title>Socratic Answers</title>
</head>
<body>
<%- include('../components/common/topbar') %>
<div class="main-content">
    <h1>Welcome!</h1>
    <h2>Welcome to Socratic Answers!</h2>
    <p>Please enjoy your stay! We are still in alpha and in the early stages of development, but we wanted show off what
        we have done so far so here it is.</p>
    <p>Oh, and if you somehow missed the really obnoxious red non-responsive banner at the top, all users and content
        will be deleted soon, so please don't post any real questions.</p>
    <p>Please create an <a href="https://github.com/jbis9051/Socratic-Answers/issues">issue</a> if you find any bugs.
    </p>
    <h2>Help Wanted!</h2>
    <p>Come help us at <a href="https://github.com/jbis9051/Socratic-Answers/tree/express">GitHub</a>. I know the repo
        is weird (whats this express branch, and why are the commit messages crappy). This will be addressed once with
        have a basic build done (hopefully soon). The entire repo will be squashed into one commit on a new branch or
        something so we only have one commit. From then on we will have good commit messages and follow the rules like
        no commits to master.</p>
    <h2>So wheres the site?</h2>
    <p>We only have one community setup. "Code Answers". <a href="https://code.socraticanswer.com">Go visit it and test
            it out.</a></p>
    <h2>I'm Evil :(</h2>
    <p>Don't be. I haven't setup rate limits and stuff. If this site gets abused I will take it down until I have setup
        rate limits and moderation tools, so don't ruin it for everyone else. If you feel the need to DoS someone,
        simply clone the repo, start up your server and go DoS yourself. </p>
    <h2>This site sucks</h2>
    <p>Ok, than fix it, <a href="https://github.com/jbis9051/Socratic-Answers/tree/express">here</a>.</p>
    <h2>But I can't code</h2>
    <p>That's ok! Then help build out the wiki, <a href="https://github.com/jbis9051/Socratic-Answers/wiki">here</a>.
        You can propose stuff in the issues of that repo.</p>
    <h2>Who made this anyway?</h2>
    <p>Me, Josh Brown. I'm 17 and doing this as a side project. You can checkout my website, <a
                href="https://joshbrown.info">https://joshbrown.info</a></p>
</div>
</body>
</html>
