<div class="profile-content">
    <div class="profile-image-wrapper">
        <img height="164" width="164" src="<%= user.profile_image %>">
    </div>
    <div class="profile-content-wrapper">
        <h2 class="username"><%= user.username %></h2>
        <div class="profile-bio">
            <%- bio %>
        </div>
    </div>
    <div class="profile-meta-wrapper">
        <ul>
            <% [user.location, user.website, user.github].filter(point => !!point).forEach(point => { %>
                <li><%= point %></li>
            <% }) %>
        </ul>
    </div>
</div>
