<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('components/standard-head') %>
</head>
<body>
<%- include('components/topbar', {user: currentUser}) %>
<div class="question-list">
</div>
</body>
</html>
