<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('components/common/standard-head') %>
    <title>Error 404</title>
</head>
<body>
<%- include('components/common/topbar', {user: currentUser}) %>
<h1>404</h1>
</body>
</html>
