<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('components/common/standard-head') %>
    <link rel="stylesheet" href="/css/index/question-list.css">
    <link rel="stylesheet" href="/css/index/index.css">
</head>
<body>
<%- include('components/common/topbar', {user: currentUser}) %>
<div class="content">
    <h2 class="title">Questions</h2>
    <div class="question-list">
        <% questions.forEach(question => { %>
            <%- include('components/main/question.ejs',{question: question}) %>
        <% }); %>
    </div>
</div>
</body>
</html>
