<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('../components/common/standard-head') %>
    <link rel="stylesheet" href="/css/users/form.css">
    <title>Password Reset</title>
</head>
<body>
<%- include('../components/common/topbar' ) %>
<div class="main-content">
    <span class="confirm">If your email was found a reset email was sent.</span>
</div>
</body>
</html>

